<header class="main-header">
  <div class="container site-header">

    <!-- LOGO -->
    <a href="index-en.html" class="brand">
      <img src="partials/logos_website/rios_headerlogo.svg" alt="Rios Sports">
    </a>

    <!-- NAVIGATION -->
    <nav aria-label="Main navigation">
      <ul class="nav-list" id="nav">

        <!-- Simple links -->
        <li><a href="instalacoes-en.html">Arena</a></li>
        <li><a href="melhoresmarcadores-en.html">Statistics</a></li>
        <li><a href="equipas-en.html">Teams</a></li>
        <li><a href="jogadoresdoresinscritos-en.html">Players</a></li>
        <li><a href="inscricao-en.html">Registration</a></li>
        <li><a href="jogos-en.html">Games</a></li>
        <li><a href="tabeladepontuacao-en.html">Table</a></li>

      </ul>
    </nav>

    <!-- MOBILE BUTTON -->
    <button
      class="nav-toggle"
      aria-expanded="false"
      aria-controls="nav"
      aria-label="Open main menu">
      <span class="nav-toggle-icon"></span>
    </button>

  </div>
</header>